<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User register</title>
  </head>
  <body>
    <form method="post" id="form1">
      <input id="name" type="text" name="name" placeholder="name" />
      <input id="cpf" type="text" name="cpf" placeholder="cpf" />
      <input id="birthdate" type="text" name="birthdate" />
      <input id="email" type="text" name="email" placeholder="email" />
      <input id="password" type="text" name="password" placeholder="password" />
      <input id="adress" type="text" name="adress" placeholder="adress" />
      <input id="number" type="text" name="number" placeholder="number" />
      <input id="complement" type="text" name="complement" placeholder="complement" />
      <input id="city" type="text" name="city" placeholder="city" />
      <input id="state" type="text" name="state" placeholder="state" />
      <input id="country" type="text" name="country" placeholder="country" />
      <input id="zipcode" type="text" name="zipcode" placeholder="zipcode" />
    </form>
    <button type="submit" form="form1" id="btn_user" onclick="GetDadosUser()">Send</button>
  </body>
  <script src="../controllers/GetDadosUser.js"></script>
</html>
