header {
  margin-top: 2%;
  margin-left: 1%;
}

label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}
ul li {
  margin-right: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}
ul li .form-control {
  min-width: 20%;
  max-width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}
body .container {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}
body .container form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body .container form .form-group {
  flex-direction: column;
  flex-basis: 500px;
  margin-right: 1%;
}
body .container form .form-group label {
  margin-bottom: 2%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body #btn_user {
  margin-left: 2%;
  margin-top: 1%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #fff;
  background: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body #btn_user :hover {
  color: #000;
  background: rgb(255, 218, 87);
}

#body-task {
  margin-left: 2%;
  margin-right: 4%;
  display: flex;
  flex-direction: column;
}
#body-task header {
  width: 100%;
  margin-left: -1%;
}
#body-task #description {
  min-height: 70px;
  min-width: 500px;
}
#body-task form {
  max-width: 20%;
}
#body-task .form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  min-width: 20%;
  max-width: 50%;
}
#body-task .form-group label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#body-task #btn_task {
  max-height: 8%;
  max-width: 10%;
  margin-top: 3.3%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #fff;
  background: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#body-task #btn_task :hover {
  color: #000;
  background: rgb(255, 218, 87);
}
#body-task html,
#body-task body {
  height: 100%;
}
#body-task .page {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -17px -54px;
}
#body-task .select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  width: auto;
  float: left;
  max-width: 100%;
  border-radius: 2px;
}
#body-task .select-dropdown select {
  font-family: "helvetica neue", helvetica;
  font-size: 1rem;
  font-weight: 200;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#body-task .select-dropdown select:active, #body-task .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
#body-task .select-dropdown:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #aaa;
}

.btn .btn-danger {
  width: 500px;
  background-color: #000;
}

/* CSS */
.button-40 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  -webkit-text-decoration: none #6b7280 solid;
          text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: 0.75rem 1.5rem;
  }
}
#header-listUser {
  margin-bottom: 1%;
}
#header-listUser #searchbar {
  padding-left: 10px;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 350px;
  height: 40px;
  margin-top: 1.5%;
  margin-left: 0.3%;
  border-radius: 5px;
  border: 2px solid #000;
}
#header-listUser #searchbar:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid rgb(0, 0, 0);
}

#header-listTasks {
  margin-bottom: 1%;
}

#header-registerUser {
  margin-bottom: -1%;
}/*# sourceMappingURL=style.css.map */